<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
  </header>
  <div class="sheet-content">
    <div>
      <fieldset class="eqrmss-shield-composer">
        <legend>Shield Composer</legend>
        <div class="form-group">
          <label>Template</label>
          <select name="system.shieldTemplate" class="shield-composer-select">
            {{selectOptions shieldOptions.templates selected=system.shieldTemplate valueAttr="id" labelAttr="name"}}
          </select>
        </div>
        <div class="form-group">
          <label>Material</label>
          <select name="system.shieldMaterial" class="shield-composer-select">
            {{selectOptions shieldOptions.materials selected=system.shieldMaterial valueAttr="id" labelAttr="name"}}
          </select>
        </div>
        <div class="form-group">
          <label>Condition</label>
          <select name="system.shieldCondition" class="shield-composer-select">
            {{selectOptions shieldOptions.conditions selected=system.shieldCondition valueAttr="id" labelAttr="name"}}
          </select>
        </div>
        <p class="hint">Changing any of these recomposes the shield below (name and stats).</p>
      </fieldset>
      <table>
        <tr>
          <th>{{localize "eqrmss.item.equipped"}}</th>
          <th>Weight</th>
          <th>Cost</th>
          <th>Prod. Time</th>
          <th>Melee DB</th>
          <th>Missile DB</th>
        </tr>
        <td>
          <input type="checkbox" name="system.equipped" {{checked system.equipped}}/>
        </td>
        <td>
          <input name="system.weight" type="text" value="{{system.weight}}" data-dtype="Number"/>
        </td>
        <td>
          <input name="system.cost" type="text" value="{{system.cost}}" data-dtype="String"/>
        </td>
        <td>
          <input name="system.prod_time" type="text" value="{{system.prod_time}}" data-dtype="String"/>
        </td>
        <td>
          <input name="system.meleeDB" type="text" value="{{system.meleeDB}}" data-dtype="Number"/>
        </td>
        <td>
          <input name="system.missileDB" type="text" value="{{system.missileDB}}" data-dtype="Number"/>
        </td>
      </table>
      <div class="form-group" style="margin: 8px 0;">
        <label style="min-width: 110px; flex: 0 0 auto;">Notes</label>
        <input name="system.notes" type="text" value="{{system.notes}}" data-dtype="String" style="flex: 1;" placeholder="Informational note"/>
      </div>
      {{localize "eqrmss.item.description"}}
      {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
    </div>
  </div>
</form>
