<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
  </header>
    <div class="sheet-content">
      <div>
      {{#if isGM}}
        <fieldset class="eqrmss-armor-composer">
          <legend>Armor Composer</legend>
          <div class="form-group">
            <label>Template</label>
            <select name="system.armorTemplate" class="armor-composer-select">
              <option value=""></option>
              {{selectOptions armorOptions.templates selected=system.armorTemplate valueAttr="id" labelAttr="name"}}
            </select>
          </div>
          <div class="form-group">
            <label>Material</label>
            <select name="system.armorMaterial" class="armor-composer-select">
              <option value=""></option>
              {{selectOptions armorOptions.materials selected=system.armorMaterial valueAttr="id" labelAttr="name"}}
            </select>
          </div>
          <div class="form-group">
            <label>Condition</label>
            <select name="system.armorCondition" class="armor-composer-select">
              <option value=""></option>
              {{selectOptions armorOptions.conditions selected=system.armorCondition valueAttr="id" labelAttr="name"}}
            </select>
          </div>
          <p class="hint">Changing any of these recomposes the armor below (name and stats).</p>
        </fieldset>
      {{/if}}
        <table>
          <tr>
            <th>{{localize "eqrmss.item.equipped"}}</th>
            <th>{{localize "eqrmss.armor.weight"}}</th>
            <th>{{localize "eqrmss.armor.cost"}}</th>
            <th>{{localize "eqrmss.armor.prod_time"}}</th>
            <th>{{localize "eqrmss.armor.at"}}</th>
            <th>Maneuver Penalty</th>
          </tr>
          <td>
            <input type="checkbox" name="system.equipped" {{checked system.equipped}}/>
          </td>
          <td>
            <input name="system.weight" type="text" value="{{system.weight}}" data-dtype="Number"/>
          </td>
          <td>
            <input name="system.cost" type="text" value="{{system.cost}}" data-dtype="String"/>
          </td>
          <td> <input name="system.prod_time" type="text" value="{{system.prod_time}}" data-dtype="String"/>
          </td>
          <td>
            <input name="system.at" type="text" value="{{system.at}}" data-dtype="Number"/>
          </td>
          <td>
            <input name="system.maneuverPenalty" type="text" value="{{system.maneuverPenalty}}" data-dtype="Number"/>
          </td>
        </table>
        <div class="form-group" style="margin: 8px 0;">
          <label style="min-width: 110px; flex: 0 0 auto;">Notes</label>
          <input name="system.notes" type="text" value="{{system.notes}}" data-dtype="String" style="flex: 1;" placeholder="Informational note, e.g. chart notes"/>
        </div>
          {{localize "eqrmss.item.description"}}
          {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
    </div>
  </div>
</form>
