<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <div class="sheet-content">
        <div>
            <fieldset class="eqrmss-weapon-composer">
                <legend>Weapon Composer</legend>
                <div class="form-group">
                    <label>Template</label>
                    <select name="system.weaponTemplate" class="weapon-composer-select">
                        {{selectOptions weaponOptions.templates selected=system.weaponTemplate valueAttr="id" labelAttr="name"}}
                    </select>
                </div>
                <div class="form-group">
                    <label>Material</label>
                    <select name="system.material" class="weapon-composer-select">
                        {{selectOptions weaponOptions.materials selected=system.material valueAttr="id" labelAttr="name"}}
                    </select>
                </div>
                <div class="form-group">
                    <label>Condition</label>
                    <select name="system.condition" class="weapon-composer-select">
                        {{selectOptions weaponOptions.conditions selected=system.condition valueAttr="id" labelAttr="name"}}
                    </select>
                </div>
                <p class="hint">Changing any of these recomposes the weapon below (name and stats).</p>
            </fieldset>
            <div class="form-group" style="margin: 8px 0;">
                <label style="min-width: 110px; flex: 0 0 auto;">{{localize "eqrmss.weapon.type"}}</label>
                <input name="system.type" type="text" value="{{system.type}}" data-dtype="String" style="flex: 1;"/>
            </div>
            <table>
                <tr>
                    <th>{{localize "eqrmss.weapon.equipped"}}</th>
                    <th>{{localize "eqrmss.weapon.cost"}}</th>
                    <th>{{localize "eqrmss.weapon.prod_time"}}</th>
                    <th>{{localize "eqrmss.weapon.weight"}}</th>
                    <th>{{localize "eqrmss.weapon.breakage_range"}}</th>
                    <th>{{localize "eqrmss.weapon.strength"}}</th>
                    <th>{{localize "eqrmss.weapon.fumble_range"}}</th>
                </tr>
                <td>
                    <input type="checkbox" name="system.equipped" {{checked system.equipped}}/>
                </td>
                <td>
                    <input name="system.cost" type="text" value="{{system.cost}}" data-dtype="String"/>
                </td>
                <td>
                    <input name="system.prod_time" type="text" value="{{system.prod_time}}" data-dtype="String"/>
                </td>
                <td>
                    <input name="system.weight" type="text" value="{{system.weight}}" data-dtype="Number"/>
                </td>
                <td>
                    <input name="system.breakage_range" type="text" value="{{system.breakage_range}}" data-dtype="String"/>
                </td>
                <td>
                    <input name="system.strength" type="text" value="{{system.strength}}" data-dtype="String"/>
                </td>
                <td>
                    <input name="system.fumble_range" type="text" value="{{system.fumble_range}}" data-dtype="String"/>
                </td>
            </table>
            <table>
                <tr>
                    <th>Attack Table</th>
                    <th>Length</th>
                    <th>Critical Type</th>
                    <th>OB Mod</th>
                    <th>Damage Mod</th>
                </tr>
                <td>
                    <input name="system.attackTable" type="text" value="{{system.attackTable}}" data-dtype="Number"/>
                </td>
                <td>
                    <input name="system.length" type="text" value="{{system.length}}" data-dtype="String"/>
                </td>
                <td>
                    <input name="system.criticalType" type="text" value="{{system.criticalType}}" data-dtype="String"/>
                </td>
                <td>
                    <input name="system.obMod" type="text" value="{{system.obMod}}" data-dtype="Number"/>
                </td>
                <td>
                    <input name="system.damageMod" type="text" value="{{system.damageMod}}" data-dtype="Number"/>
                </td>
            </table>
            <div class="form-group" style="margin: 8px 0;">
                <label style="min-width: 110px; flex: 0 0 auto;">Notes</label>
                <input name="system.notes" type="text" value="{{system.notes}}" data-dtype="String" style="flex: 1;" placeholder="Informational note"/>
            </div>
                {{localize "eqrmss.item.description"}}
                {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
        </div>
    </div>
</form>
